/* Page wrapper to center and handle overflow */
.page-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto; /* Allow scroll if needed on very small screens */
}

/* Main container - now fully responsive */
.big-lagoon {
  background-color: #c0edf0;
  overflow: hidden;
  width: 100%;
  max-width: 1920px; /* Cap at 1920px for large screens */
  min-width: 1200px; /* Minimum for readability */
  min-height: 6474px;
  position: relative;
  margin: 0 auto; /* Center on wide screens */
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw; /* Scale with viewport */
  max-width: 1368px;
  height: 153px;
}

.navigation {
  position: absolute;
  width: 68.15%;
  height: 15.44%;
  top: 34.56%;
  left: 32.73%;
}

.nav-link {
  position: absolute;
  height: 100%;
  top: 0;
  font-family: 'DM Sans', Helvetica;
  font-weight: 500;
  color: white;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.nav-link-0 { width: 5.69%; left: 8.71%; }
.nav-link-1 { width: 8.35%; left: 21.17%; }
.nav-link-2 { width: 13.67%; left: 36.29%; }
.nav-link-3 { width: 13.07%; left: 56.73%; }
.nav-link-4 { width: 6.41%; left: 76.57%; }
.nav-link-5 { width: 8.95%; left: 89.76%; }

.mask-group {
  position: absolute;
  width: 0;
  top: 3px;
  left: 0;
  height: 18px;
}

.palawon-logo {
  position: absolute;
  width: 19.93%;
  top: 0;
  left: 0;
  height: 153px;
  aspect-ratio: 1.78;
  object-fit: cover;
}

/* Blue bar */
.blue-bar {
  position: absolute;
  top: 0;
  left: -1px;
  width: 100vw;
  height: 131px;
  background-color: #00537a;
}

/* Hero section */
.hero-section {
  position: absolute;
  top: 131px;
  left: 0;
  width: 100vw;
  height: 878px;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 1.67;
  object-fit: cover;
}

.hero-title {
  position: absolute;
  top: 241px;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw; /* Scale with viewport */
  max-width: 1119px;
  font-family: 'Gabarito', Helvetica;
  font-weight: 700;
  color: white;
  font-size: 110px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

/* Description section */
.description-section {
  position: absolute;
  top: 1009px;
  left: -1px;
  width: 100vw;
  height: 387px;
  background-color: #013c58;
}

.description-text {
  position: absolute;
  top: 45px;
  left: 5vw; /* Relative to viewport */
  width: 90vw; /* Scale */
  font-family: 'Inria Serif', Helvetica;
  font-weight: 400;
  color: white;
  font-size: 40px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

/* Travel tips section */
.travel-tips-section {
  position: absolute;
  top: 1396px;
  left: 0;
  width: 100vw;
}

.travel-tips-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 236px;
  height: 34px;
  display: flex;
  justify-content: center;
}

.travel-tips-title h2 {
  width: 234px;
  height: 34px;
  margin-left: -2px;
  font-family: 'Gabriela', Helvetica;
  font-weight: 400;
  color: black;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.line-5 { position: absolute; top: 15px; left: 0; width: 40vw; height: 3px; }
.line-6 { position: absolute; top: 16px; right: 0; width: 40vw; height: 3px; }

.travel-tips-image-1 {
  position: absolute;
  top: 34px;
  left: 2vw;
  width: 25vw;
  height: 50vh;
  max-height: 600px;
  aspect-ratio: 0.62;
  object-fit: cover;
}

.travel-tips-image-2 {
  position: absolute;
  top: 30px;
  right: 2vw;
  width: 25vw;
  height: 50vh;
  max-height: 594px;
  aspect-ratio: 0.63;
  object-fit: cover;
}

.travel-tips-text {
  position: absolute;
  top: 57px;
  left: 30vw;
  width: 40vw;
  font-family: 'Inria Serif', Helvetica;
  font-weight: 400;
  color: black;
  font-size: 30px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.travel-tips-text .bold { font-weight: 700; }
.travel-tips-text .italic { font-style: italic; }

.travel-tips-image-3 {
  position: absolute;
  top: 382px;
  left: 35vw;
  width: 30vw;
  height: 15vh;
  aspect-ratio: 2.37;
  object-fit: cover;
}

/* What to expect section */
.what-to-expect-section {
  position: absolute;
  top: 2044px;
  left: -13px;
  width: 100vw;
  height: 353px;
  background-color: #013c58;
}


.what-to-expect-title {
  position: absolute;
  top: 30px;
  left: 7vw;
  color: #003c7a;
  text-align: justify;
  font-family: 'Gabriela', Helvetica;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
  background-color: #fdc500;
}

.what-to-expect-text {
  position: absolute;
  top: 128px;
  left: 8vw;
  width: 80vw;
  font-family: 'Inria Serif', Helvetica;
  font-weight: 400;
  color: white;
  font-size: 32px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

/* Important details section */
.important-details-section {
  position: absolute;
  top: 2397px;
  left: 0;
  width: 100vw;
}

.important-details-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 45vw;
  height: 40vh;
  aspect-ratio: 1.33;
  object-fit: cover;
}

.rectangle-64 {
  position: absolute;
  top: 16px;
  left: 50vw;
  width: 40vw;
  height: 128px;
}

.important-details-title {
  position: absolute;
  top: 49px;
  left: 50vw;
  width: 40vw;
  font-family: 'Gabriela', Helvetica;
  font-weight: 400;
  color: #fdc500;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.important-details-text {
  position: absolute;
  top: 153px;
  left: 50vw;
  width: 40vw;
  font-family: 'Inria Serif', Helvetica;
  font-weight: 400;
  color: black;
  font-size: 27px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

/* What to bring section */
.what-to-bring-section {
  position: absolute;
  top: 2983px;
  left: -7px;
  width: 100vw;
  height: 433px;
}

.what-to-bring-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 433px;
  background-color: #f2e9d7;
}

.what-to-bring-title {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  color: #ef6605;
  text-align: center;
  font-family: 'Gabriela', Helvetica;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.what-to-bring-item {
  position: absolute;
  height: 70px;
  background-color: #f8cd53;
}

.what-to-bring-item-0 { top: 115px; left: 5vw; width: 40vw; }
.what-to-bring-item-1 { top: 115px; left: 55vw; width: 40vw; }
.what-to-bring-item-2 { top: 211px; left: 5vw; width: 40vw; }
.what-to-bring-item-3 { top: 210px; left: 55vw; width: 40vw; }
.what-to-bring-item-4 { top: 307px; left: 5vw; width: 40vw; }
.what-to-bring-item-5 { top: 307px; left: 55vw; width: 40vw; }

.what-to-bring-text {
  position: absolute;
  font-family: 'Inria Serif', Helvetica;
  font-weight: 400;
  color: #ef6605;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

/* Best time to go section */
.best-time-section {
  position: absolute;
  top: 3416px;
  left: -7px;
  width: 100vw;
  height: 486px;
  background-color: #013c58;
}

.best-time-title {
  position: absolute;
  top: 29px;
  left: 7vw;
  font-family: 'Gabriela', Helvetica;
  font-weight: 400;
  color: #003c7a;
  font-size: 50px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  background-color: #fdc500;
}

.best-time-text {
  position: absolute;
  top: 137px;
  left: 5vw;
  width: 90vw;
  font-family: 'Inria Serif', Helvetica;
  font-weight: 400;
  color: white;
  font-size: 48px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.best-time-text .bold { font-weight: 700; }

/* Activities section */
.activities-section {
  position: absolute;
  top: 3902px;
  left: 0;
  width: 100vw;
}

.activity-image {
  position: absolute;
  top: 0;
  height: 352px;
  object-fit: cover;
}

.activity-image-0 { left: 0; width: 33vw; aspect-ratio: 1.78; }
.activity-image-1 { left: 33vw; width: 33vw; aspect-ratio: 1.34; }
.activity-image-2 { left: 66vw; width: 34vw; aspect-ratio: 1.79; }

.activities-title {
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Gabriela', Helvetica;
  font-weight: 400;
  color: white;
  font-size: 64px;
  text-align: justify;
  letter-spacing: 25.6px;
  line-height: normal;
}

.line-141 { position: absolute; top: 32px; left: 2vw; width: 96vw; height: 7px; }
.line-142 { position: absolute; top: 39px; left: 2vw; width: 1px; height: 606px; }
.line-143 { position: absolute; top: 36px; right: 2vw; width: 5px; height: 607px; }
.line-144 { position: absolute; top: 641px; left: 3vw; width: 30vw; height: 1px; }
.line-145 { position: absolute; top: 639px; left: 70vw; width: 30vw; height: 1px; }

.activities-text {
  position: absolute;
  top: 383px;
  left: 2vw;
  width: 96vw;
  font-family: 'Inria Serif', Helvetica;
  font-weight: 400;
  color: black;
  font-size: 32px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

/* Accommodations section */
.accommodations-section {
  position: absolute;
  top: 4633px;
  left: 0;
  width: 100vw;
  height: 384px;
  background-color: #f2e9d7;
}

.accommodations-title {
  position: absolute;
  top: -32px;
  left: 42vw;
  font-family: 'Gabriela', Helvetica;
  font-weight: 400;
  color: #003c7a;
  font-size: 50px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  background-color: #fdc500;
}

.accommodations-text {
  position: absolute;
  top: 53px;
  left: 5vw;
  width: 90vw;
  font-family: 'Inria Serif', Helvetica;
  font-weight: 400;
  color: black;
  font-size: 32px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.accommodations-text .bold { font-weight: 700; }

/* Local cuisine section */
.local-cuisine-section {
  position: absolute;
  top: 5015px;
  left: -7px;
  width: 100vw;
  height: 511px;
  background-color: #013c58;
}

.local-cuisine-image {
  position: absolute;
  top: 7px;
  left: 1vw;
  width: 30vw;
  height: 50vh;
  aspect-ratio: 1.01;
  object-fit: cover;
}

.local-cuisine-title {
  position: absolute;
  top: 24px;
  left: 35vw;
  font-family: 'Gabriela', Helvetica;
  font-weight: 400;
  color: #f8cd53;
  font-size: 50px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.local-cuisine-text {
  position: absolute;
  top: 88px;
  left: 35vw;
  width: 60vw;
  font-family: 'Inria Serif', Helvetica;
  font-weight: 400;
  color: white;
  font-size: 30px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.local-cuisine-text .bold {
  font-family: 'Inria Serif', Helvetica;
  font-weight: 700;
}

/* Fun fact section */
.fun-fact-section {
  position: absolute;
  top: 5526px;
  left: 0;
  width: 100vw;
}

.fun-fact-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 137px;
  aspect-ratio: 10.91;
  object-fit: cover;
}

.fun-fact-title {
  position: absolute;
  top: 31px;
  left: 40vw;
  font-family: 'Gabriela', Helvetica;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 64px;
  text-align: justify;
  letter-spacing: 19.20px;
  line-height: normal;
}

.fun-fact-text {
  position: absolute;
  top: 142px;
  left: 5vw;
  width: 90vw;
  font-family: 'Inria Serif', Helvetica;
  font-weight: 400;
  color: black;
  font-size: 32px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}


/* Footer */
.footer {
  position: absolute;
  top: 6200px;
  left: 0;
  width: 1444px;
  height: 271px;
}

.footer-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 271px;
  background-color: #1c1e2c;
}

.footer-line {
  position: absolute;
  top: 108px;
  left: 120px;
  width: 1199px;
  height: 1px;
  object-cover;
}

.footer-copyright {
  position: absolute;
  top: 150px;
  left: 434px;
  font-family: 'DM Sans', Helvetica;
  font-weight: 700;
  font-style: italic;
  color: white;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.footer-tagline {
  position: absolute;
  top: 183px;
  left: 411px;
  font-family: 'DM Sans', Helvetica;
  font-weight: 400;
  font-style: italic;
  color: white;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.footer-nav {
  position: absolute;
  top: 53px;
  left: 50%;
  transform: translateX(-50%);
  width: 899px;
  height: 15px;
}

.footer-link {
  position: absolute;
  height: 100%;
  top: 0;
  font-family: 'DM Sans', Helvetica;
  font-weight: 700;
  color: white;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.footer-link-0 { width: 6.45%; left: 0; }
.footer-link-1 { width: 8.12%; left: 14.02%; }
.footer-link-2 { width: 13.57%; left: 29.70%; }
.footer-link-3 { width: 13.13%; left: 50.83%; }
.footer-link-4 { width: 10.34%; left: 71.52%; }
.footer-link-5 { width: 10.57%; left: 89.43%; }

/* Text on a path */
.text-on-a-path {
  position: absolute;
  top: 46288px;
  left: -12755px;
  width: 610px;
  height: 70px;
}
